<!doctype html>
<html>
  <head>
    <title>BackboneDiorama</title>
    <script src="js/lib/jquery-1.8.3.min.js"></script>
    <script src="js/lib/json2.js"></script>
    <script src="js/lib/underscore-min.js"></script>
    <script src="js/lib/backbone-min.js"></script>

    <script src="js/lib/diorama.js"></script>

    <script src="js/application.js"></script>
    <script type="text/javascript">
      // TODO Temporary app init code to go here
    </script>
  </head>
  <body>
    <h1>Ahoy!</h1>
    You're running a BackboneDiorama project.

    <h2>How to get up and running</h2>

    <ol>
      <li>
        Use diorama generators to create your controllers and views.
        <ul>
          <li>For example, `diorama generateController ControllerName Action1 Action2`</li>
        </ul>
      </li>
      <li>
        When you're happy with the project structure, compile your code:
        <ul>
          <li>`diorama compile`</li>
        </ul>
      </li>
      <li>
        Open up `index.html` and start hacking! Your compiled
        application will be included automatically.
      </li>
    </ol>
  </body>
</html>
