window.Backbone ||= {}
window.Backbone.Views ||= {}

class Backbone.Views.<%= _(name).classify() %>View extends Backbone.Diorama.NestingView
  template: JST['<%= _(name).underscored() %>']

  initialize: (options) ->
    @render()

  render: =>
    @closeSubViews()
    @$el.html(@template(view: @))
    @renderSubViews()

    return @

  onClose: ->
    @closeSubViews()
