window.Backbone ||= {}
window.Backbone.Views ||= {}

class Backbone.Views.<%= _(name).classify() %>View extends Backbone.Diorama.NestingView
  template: Handlebars.templates['<%= _(name).underscored() %>.hbs']

  initialize: (options) ->
    @render()

  render: =>
    @$el.html(@template(thisView: @))
    @attachSubViews()

    return @

  onClose: ->
    @closeSubViews()
