window.JST ||= {}

window.JST['<% if (typeof controllerName !== 'undefined'){ %><%= _(controllerName).underscored() %>/<%}%><%= _(viewName).underscored() %>'] = _.template("""
  <h1><%= _(viewName).classify() %> View</h1>
""")
