window.Backbone ||= {}
window.Backbone.Views ||= {}

class Backbone.Views.<%= _(controllerName).classify() %><%= _(stateName).classify() %>View extends Backbone.View
  template: JST['<%= _(controllerName).underscored() %>/<%= _(stateName).underscored() %>']

  initialize: (options) ->
    @render()

  render: =>
    @$el.html(@template())

  onClose: ->
